/*******************************************/
/*This is the main stylesheet***/
/******************************************/

@tailwind preflight;
@tailwind utilities;

/****SCROLLBAR*****/

/******MIXINS*******/
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

// Block Element
// @access public
// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}
// Block Modifier
// @access public
// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

* {
  -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}


/* Custom Style to Marijuana Cooking Book */

body {
  background-color: #EEE7D8;
  margin: 0;
  padding: 0;
  font-family: 'Bitter', Arial, serif;  
}

hr {
  border: 1px solid rgba(71, 52, 37, 0.16);
}

a {
  color: #424034;
}

ul {
  list-style: none; 
}

li {
  padding: 5px;
}

/* ---- HEADER SECTION ---- */


.header {
  margin: auto;
  padding-top: 50px;
  padding-left: 50px;
  width: 100%;
  min-height: 100px;
}

.icon {
  font-size: 35px;
  color: #424034;
}

.site-title {
  color: #424034;
  text-transform: uppercase;
  font-family: 'Bitter', serif;
  display: inline-block;
  padding-left: 5px;
  font-size: 38px;
}

.search-section {
  width: 85%;
  margin: auto;
  padding: 20px 0;
}

.search-icon {
  font-size: 25px;
  color: #424034;
  align-items: baseline;
}

.input-search {
  background: transparent;
  width: 95%;
  padding: 5px;
}

/* ---- FEATURES SECTION ----- */

.features-section {
  background: #FEF9DC;
  display: inline-block;
  width: 100%;
}

.features-image {
  width: 70%;
  height: 550px;
  background-size: cover;
  position: relative;
  object-fit: cover;
  object-position: center;
}

.features-info {
  float: right;
  width: 30%;  
  text-align: center;
  padding: 30px;
  margin-top: 10%;
  color: #7F5703;
  font-weight: bold;
  font-family: 'Bitter', serif;
}

.features-title {
  font-size: 42px;
}

.features-subtitle {
  font-size: 15px;
  padding: 40px;
  color: #424034;
}

/* ---- MORE FEATURES ----- */

.more-features {
  text-align: center;
  padding-top: 60px;
}

.more-features-title {
  padding: 15px;
  color: #4c382d;
}

.small-btn {
  padding: 10px 10px;
  border: 1px solid #C4BDAE;
  border-radius: 3px;
  margin: 10px;
  color: #4c382d;
  font-weight: bold;
}

.text-button {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Bitter', serif;
  text-transform: uppercase;
  color: #4c382d;
}

.icon-button {
  text-align: left;
  margin-right: 15px;
}

.more-recipes {
  text-align: center;
  max-width: 1120px;
  margin: auto;
}

.img-card-recipe {
  display: inline-block;
  height: 400px; 
  overflow: hidden;
  background-position: center center;   
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.recipe-item {
  display: inline-block;
  width: 250px;
  text-align: center;
  margin: 1%;
  position: relative;
}

.recipe-subtitle {
  text-align: left;
  color: #7f5703;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Bitter', serif;
}

.time-preparation {
  background: #3b2e24;
  color: white;
  display: block;
  padding-top: 10px;
  width: 35px;
  height: 70px;
  position: absolute;
  top: 0%;
  transform: translateX(60%);
  left: 0%;
}

.clock-preparation {
  font-size: 25px;
}

.text-preparation {
  font-size: 12px;
  font-weight: bold;
}

.load-more-button {
  padding: 15px 40px;
  text-align: center;
  border: 1px solid #c4bdae;
  border-radius: 3px;
  margin: 50px 0; 
}

/* ---- INFO SECTION ---- */

.info-section {
  text-align: center;
  background-color: #FEF9DC;
  padding: 30px;
  height: 225px;
  color: #7F5703;
}

.info-title {
  padding-top: 20px;
  padding-bottom: 40px;
}

.info-subtitle {
  padding-top: 20px;
}

/* ---- CONTACT SECTION ---- */

.contact-section {
  max-width: 1120px;
  height: 220px;
  margin: auto;
}

.links-section {
  font-size: 25px;
  color: #7f5703;
  float: left;
  margin-top: 50px;
  padding-left: 180px;
  text-decoration: none;
}

.link-list {
  padding: 15px;  
}

.link-item {  
  text-decoration: none;
  color: #7f5703;
}

.contact-form {
  float: right;
}

.contact-field {
  background: #fef9dc;
  padding: 15px;
  float: right;
  width: 300px;
  margin-top: 100px;
  margin-right: 250px;
  border-bottom: 2px solid #4c382d;
}

.copyright {  
  text-align: right;
  max-width: 1120px;
  margin: auto;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  color:#7f5703;
}


/* ------- CONTENT RECIPE PAGE --------- */

.background-img {
  width: 100%;
  height: 600px;
  background-size: cover;
  position: relative;
  object-fit: cover;
  object-position: center;
}

.container {
  max-width: 1200px;
  min-height: 800px;
  margin: 20px 0 50px 0;
  background: #F2F2F2;
  border-radius: 5px;
  color: #413F34;
  padding: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-20%) translateX(-50%);
}

.container-area {
  padding-right: 30px;
}

/* ---- RECIPE SECTION ---- */

.header-recipe {
  display: inline-block;
  width: 100%;
}

.print-icon {
  float: right;
  margin-right: 20px;  
  margin-top: 15px;
  font-size: 30px;
  cursor: pointer;
}

.close-icon {
  float: right;
  margin-right: 20px;  
  margin-top: 15px;
  font-size: 30px;
  cursor: pointer;
}

.title-recipe {
  padding: 10px 0;
  width: 90%;
  float: left;  
}

.subtitle-recipe {
  padding: 10px 0;
}

.description-recipe {
  padding: 30px 0px;
}

.rating-icons {
  color: #5d866e;
  font-size: 23px;
  padding-right: 5px;
  line-height: 50px;
  display: inline-block;
}

.small-text-rating {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}

.mini-text-rating {
  font-size: 9px;
}

/* ---- SIDEBAR SECTION ---- */

.sidebar-area {
  padding: 10px;  
}

.details-section {
  padding: 10px;  
}

.details-items {
  font-weight: bold;
  float: right;
  text-transform: uppercase;
}

.details-recipe {
  padding: 10px 0;
  font-weight: bold;  
}

/* ---- SERVING SECTION ---- */

.serving-section {
  padding: 10px; 
  display: inline-block;
  width: 100%;
}

.serving-recipe {
  float: left;
  padding: 10px 0;
  font-weight: bold; 
}

.input-serving-section {
  float: right;
  display: inline-flex;
}

.input-serving {
  padding: 10px 10px;
    border: 1px solid #c4bdae;
    border-radius: 3px;   
    color: #4c382d;
    font-weight: bold;
}

.display-quantity {
  line-height: 40px;
  background: white;
  width: 55px;
  text-align: center;
  border: 1px solid #cecece;
}

/* ---- LIST INGREDIENTS SECTION ---- */

.list-ingredients {
  display: block;
  padding: 10px;
}

.ingredients-checkbox {
    vertical-align: middle;
    margin-right: 30px;
}

/* ---- CAROUSEL SECTION ---- */

.carousel-component {
  height: 330px;
  position: relative;
  margin-bottom: 15px;
}

.carousel-steps {  
  width: 670px;
  height: 100%;
  margin: auto;
}

.arrow-right {
  float: right;
  width: 30px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: 43%;
  right: 10px;
}

.arrow-left {
  float: left;
  width: 30px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: 43%;
  left: 10px;
}

.step-number-text {
  padding: 20px 0;
}

.img-steps {
  width: 240px;
  height: 330px;
  float: left;
  padding-right: 10px;
  object-fit: cover; 
  object-position: center;
  transition: all 0.2s linear;
}

.text-recipe-steps {
  font-size: 14px;
  padding: 20px;
}

/* ---- PROGRESS BAR SECTION ---- */

.progress-bar{
  display: flex;
  width: 750px;
  height: 12px;
}

.progress-item {
  width: 100%;
  background-color: #EEE7D8;
  height: 12px;
  display: block;
  margin: 0 3px;
}

.progressed-item {  
  background-color: #413F34;
}